{% extends 'base.html' %}

{% load ingredient_tags %}
{% load static %}

{% block 'body' %}

<div class="row justify-content-center mt-3">
    <div class="card bg-primary col-sm-12 col-md-8 pb-3">
        <h2 class="card-header text-white pl-0">{{recipe.name}} 
            <button 
                class="btn btn-light p-0" 
                data-clipboard-text="{{ site_url }}{% url 'recipe_detail' pk=recipe.uuid %}" 
                data-clipboard-action="copy"
                data-toggle="tooltip" 
                data-placement="right" 
                title="Click To Copy URL">
                    <img src="{% static 'share_icon.svg' %}" height="25px" width="25px" />
            </button>
        </h2>
        {% if recipe.final_product_photo %}
            <img class="align-self-center card-img-top img-thumbnail rounded" src="{{recipe.final_product_photo.url}}" alt="Final {{ recipe.name }}">
        {% endif %}
        <div class="card-text">
        <div class="row ml-0 mr-0 mt-2">
            <div class="col-md-4 col-sm-12 p-0 pr-1">
                <ul class="list-group sticky-top">
                    {% for ingredient in recipe.ingredient_set.all %}
                        <li class="list-group-item">
                            {{ingredient.name}} -- {{ingredient.amount}}({{ingredient.unit}})
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
            <form method="GET">
            {% for step in recipe.recipestep_set.all %}
                <input 
                    class="d-none"
                    name="rst" 
                    id="recipe_steps_{{step.order}}" 
                    type="checkbox" 
                    value="{{step.order}}"
                    {% if step.order in chosen_steps  %}checked{% endif %}
                    cat="meow"
                    onChange="this.form.action='#an_{{step.order}}';  this.form.submit();">
                <label for="recipe_steps_{{step.order}}" class="row align-items-center">
                    <div class="col-2 text-center" id="an_{{step.order}}">
                        {% format_step_number chosen_steps step forloop.counter %}
                    </div>
                    <div class="col m-0">
                    {% format_step_description chosen_steps step forloop.counter %}
                    </div>
                </label>
                <hr />
            {% endfor %}
            <button type="button" class="btn btn-primary" onClick="window.location = window.location.href.split('?')[0];">Reset</button>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock 'body' %}

{% block 'customjs' %}
<script src="{% static 'clipboard.js' %}"></script>
<script>new ClipboardJS('.btn');</script>
{% endblock %}