{% extends 'base.html' %}

{% load app_filters %}


{% block 'body' %}
<div class="row text-center">
    <div class="col">
        <h1>Recipes</h1>
        <p>
            Checkout the recipes below. Eventually you'll be able to favorite and
            maybe one day enter your own recipes.
        </p>
    </div>
</div>

<div class="card-deck row bg-white p-3 pt-4 pb-4 rounded">
{% for recipe in object_list %}  
    <div class="col-md-4 col-12">
        <div class="card m-0">
            {% if recipe.final_product_photo %}
            <a href="{% url 'recipe_detail' recipe.uuid %}">
            <img class="card-img-top img-thumbnail rounded" src="{{recipe.final_product_photo.url}}" alt="Final {{ recipe.name }}">
            </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{recipe.description}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'recipe_detail' recipe.uuid %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock 'body' %}