/* ------------------------------------------------------------------------- *\
    # App CSS

    This file contains all of the application custom CSS for now.

    1. Ingredient -- custom CSS related to ingredient display
    2. TextUtility -- cusotm CSS for styling text
\* ------------------------------------------------------------------------- */





/* ------------------------------------------------------------------------- *\
    #Ingredient -- custom CSS related to ingredient display

    1. this nasty CSS makes a circle, it's okay for now.
\* ------------------------------------------------------------------------- */
.ingredient-step {
    height: 42px; /* [1] */
    width: 42px; /* [1] */
    border-radius: 50%; /* [1] */
}





/* ------------------------------------------------------------------------- *\
    #TextUtility -- custom CSS related to text
\* ------------------------------------------------------------------------- */
.text-strike {
    text-decoration: line-through;
}